# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.form
build/
.idea/
*.iml
build/built-jar.properties
build/built-jar.properties
build/built-jar.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/villalibraryms/AdminMenu.form
build/classes/villalibraryms/Forms/AddBook.form
build/classes/villalibraryms/Forms/AddUser.form
build/classes/villalibraryms/Forms/FindBooks.form
build/classes/villalibraryms/Forms/IssueBook.form
build/classes/villalibraryms/Forms/IssuedBooks.form
build/classes/villalibraryms/Forms/LoginForm.form
build/classes/villalibraryms/Forms/ManageMembers.form
build/classes/villalibraryms/Forms/MyBooks.form
build/classes/villalibraryms/Forms/MyFines.form
build/classes/villalibraryms/Forms/MyReservations.form
build/classes/villalibraryms/Forms/ReturnBook.form
build/classes/villalibraryms/Forms/ViewFines.form
build/classes/villalibraryms/UserMenu.form
